.dashboard-lay{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-top: 20px;
    
     
}


.balance-box{
    background-color: #1b1d38;
    border: 1px solid #a5a3ab57;
    color: #ffffff;
    padding:  25px 20px;
    border-radius: 15px;
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}

.balance-icon-box{
    border-radius: 40px;
    background-color: #47465198;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    
}

.balance-title h2{
    color: #bcadf2;
    padding-top: 5px;
    font-size: 21px;
}

.balance-title p{
    font-size: 13px;
}

.balance-icon{
    font-size: 30px;
    color: #E8F994;
}
