.graphic-lay{
    padding-top: 40px;
}

.graphic-grid{
    padding-top: 35px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 900px){
    .graphic-grid{
        gap: 22px;
        grid-template-columns: 1fr;
        padding-top: 20px;
    }
}


