
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Fredoka:wght@300..700&family=Playwrite+ID:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



.form-lay{
    
    height: 100vh;
    background-attachment: fixed;
    
    display: flex;
    justify-content: space-between;


}

.fundo{
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    display: flex;
    flex-direction: column;
    background: url('/fundo2.png') center/cover no-repeat;
}

.fundo h1{
    color: #E8F994;
    font-size: 40px;
    font-family: "Playwrite ID", cursive;
    letter-spacing: 5px;
}

.fundo-texto-box h2{
    color: #E8F994;
    
}

.form-box{
    background-color: #121427;
   
    width: 50%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    

    flex-direction: column;
}

.form-title{
    padding-top: 40px;
    padding-bottom: 30px;
     
}

.form-title h2{
    color: #bcadf2;
    letter-spacing: 5px;
    font-size: 45px;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    
}

.form input{
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    background-color: #1D1E35;
    outline: none;
    border: none;
    color: white;
    padding-left: 50px;
    
}

.form label{
    color: #BCADF2;
}

.btn-login{
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    margin-top: 25px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(145deg, #E8F994 0%, #A594F9 100%);
}

.btn-login-icon{
    position: absolute;
    right: 20px;
}

.input-lay{
    position: relative;
    display: flex;
    align-items: center;
}

.login-icon{
    position: absolute;
    color: #BCADF2;
    left: 15px;
    font-size: 20px;
}


.division-div{
    display: flex;
    width: 100%;
    justify-content: center;
    
}


.line{
    width: 100%;
    height: 1px;
    background-color: #afa5d46e;
    margin-top: 10px;
}

.line-icon{
    color: #E8F994;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}


.or{
    text-align: center;
    color: #aaa1cc;
    font-size: 14px;
}


.others-box{
    gap: 25px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.other-icon-box{
    background-color: #bcadf228;
    border-radius: 17px;
    padding: 15px 21px ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.other-icon{
    font-size: 23px;
    color: #BCADF2;
}

.cadastro-p{
    margin-top: 15px;
    text-align: center;
    color: #cbcacfdb;
    cursor: pointer;
    
}

.color1{
   color: #E8F994;
}

.color2{
    color: #BCADF2;
}



.star-1{
    color: #BCADF2;
    position: absolute;
    top: 140px;
    left: 300px;
}
.star-2{
    color: #E8F994;
    position: absolute;
    top: 100px;
    right: 100px;
}
.star-3{
    color: #BCADF2;
    position: absolute;
    top: 150px;
    left: 120px;
}
.star-4{
    color: #E8F994;
    position: absolute;
    top: 135px;
    right: 70px;
}
.star-5{
    color: #BCADF2;
    position: absolute;
    top: 220px;
    right: 200px;
    
}
.star-6{
    color: #BCADF2;
    position: absolute;
    top: 440px;
    right: 100px;
}
.star-7{
    color: #E8F994;
    position: absolute;
    bottom: 135px;
    
}
.star-8{
    color: #BCADF2;
    position: absolute;
    bottom: 180px;
    left: 70px;
}
.star-9{
    color: #BCADF2;
    position: absolute;
    bottom: 100px;
    left: 150px;
}
.star-10{
    color: #E8F994;
    position: absolute;
    bottom: 110px;
    right: 150px;
}

